@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 60%; /* Increase the width */
  min-width: 400px; /* Minimum width to maintain responsiveness */
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.center h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  display: flex;
  flex-direction: column;
}

.center form label {
  margin-top: 20px;
}

.center form input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #adadad;
}

.center form button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #2691d9;
  color: white;
  cursor: pointer;
}

.center form button:hover {
  background-color: #216a94;
}

.center form .signup-button {
  margin-top: 10px;
  background-color: #8e44ad;
}

.center form .signup-button:hover {
  background-color: #732c91;
}
